Na razie wersja robocza. Zobaczymy jak wyjdzie w praktyce i zmodyfikujemy.

Legenda:
1 - Nie potrafię sobie znaleźć zajęcia, poproszę o jakąś pracę.
2 - Nie mam zaległości typu pendingi, brakujące PO itp. W razie czego mogę komuś pomóc.
3 - Jest OK, jestem w miarę na bieżąco z pracą.
4 - Pracy jest sporo.
5 - Jest bardzo dużo pracy, mam czas tylko na bieżące zlecenia. Już mam zaległości.

6 - NIE używamy! A jak już użyjemy to oznacza, że tracimy zlecenia, zawalamy terminy, zagrożona jest współpraca z klientem itp. a my pracujemy mniej więcej w taki sposób:
http://www.reactiongifs.com/wp-content/uploads/2013/03/computing.gif
<a href="http://www.reactiongifs.com/wp-content/uploads/2013/03/computing.gif"></a>
