<div class="panel-heading">
  <h1>Unconfirmed Team Workloads</h1>
</div>
<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Score</th>
    <th>Confirmed?</th>
    <th>Action</th>
  </tr>

  <% @unconfirmed.group(:date).each do |workload| %>
    <tr>
      <td><%= workload.date %></td>
      <td><%= score = @workloads.uncnf_score_by_date(workload.date).round(2) %></td>
      <td><%= workload.confirmed ? "yes" : "no" %></td>
      <td><%= link_to "Confirm", confirm_workloads_path(date: workload.date, score: score), method: :post,
                                 class: "btn btn-danger btn-xs" %></td>
    </tr>
  <% end %>
</table>
</div>
