Wybierz datę
lista dat bez confirma

<div class="panel-heading">
  <h1>Unconfirmed Team Workloads</h1>
</div>
<table class="table">
  <tr>
    <th>Date</th>
    <th>Score</th>
    <th>Confirmed?</th>
  </tr>

<% @workloads.each do |workload| %>
  <tr>
    <td><%= workload.date %></td>
    <td><%= workload.score %></td>
    <td><%= workload.confirmed ? "yes" : "no" %></td>
    <td><%= link_to "Confirm", '#', class: "btn btn-default btn-xs" %></td>
  </tr>
<% end %>
</table>
</div>
